################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs
.vscode
web_technologies/testproj - Shortcut.lnk
*.exe
*.pdb
rust
build