body{
    background-image: url("railways.jpg");
    background-size: cover;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
}
div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #fff;
    background-color: rgba(255,255,255,0.65);
    width: 50%;
    padding: 50 0 50 0;
    font-size: 20px;
}
button{
    font-size: 24px;
}